<div id="main">
    <div class="row">
        <div id="breadcrumbs-wrapper" data-image="../../../../assets/images/gallery/breadcrumb-bg.jpg" style="background-image: url(../../../../assets/images/gallery/breadcrumb-bg.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l6">
                        <h3 class="breadcrumbs-title mt-0 mb-0 white-text"><span>Directorio de usuarios</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrapper-before blue-grey lighten-5"></div>
        <div class="col s12">
            <div class="container">
                <!-- Add new contact popup -->
                <div class="contact-overlay"></div>
                <div *ngIf="(userLogged && userLogged.role == 'Admin')" style="bottom: 54px; right: 19px;" class="fixed-action-btn direction-top">
                    <a class="btn-floating btn-large primary-text gradient-shadow contact-sidebar-trigger">
                        <i class="material-icons">person_add</i>
                    </a>
                </div>
                <!-- Add new contact popup Ends-->

                <!-- Content Area Starts -->
                <div class="content-area content-right">
                    <div class="app-wrapper">
                        <div class="datatable-search">
                            <i class="material-icons mr-2 search-icon">search</i>
                            <input type="text" placeholder="Buscar usuario" class="app-filter" id="global_filter">
                        </div>
                        <div id="button-trigger" class="card card card-default scrollspy border-radius-6 fixed-width">
                            <div class="card-content p-0">
                                <table class="centered striped">
                                    <thead>
                                        <tr>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Dependencia</th>
                                            <th>Vinculación</th>
                                            <th>Cargo</th>
                                            <th>Extensión</th>
                                            <th>Correo electrónico</th>
                                            <th *ngIf="(userLogged && userLogged.role == 'Admin')">Administrar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of allUsers">
                                            <td>{{user.firstName}}</td>
                                            <td>{{user.lastName}}</td>
                                            <td>{{user.department.department}}</td>
                                            <td>{{user.jobType.jobType}}</td>
                                            <td>{{user.jobTitle.jobTitle}}</td>
                                            <td>{{user.workPhone}}</td>
                                            <td>{{user.email}}</td>
                                            <td *ngIf="(userLogged && userLogged.role == 'Admin')"><i (click)="updateItem(user)" class="material-icons delete">edit</i><i (click)="removeUser(user)" class="material-icons delete">delete</i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Area Ends -->

                <!--  Contact sidebar -->
                <div class="contact-compose-sidebar">
                    <div class="card quill-wrapper">
                        <div class="card-content pt-0">
                            <div class="card-header display-flex pb-2">
                                <h3 class="card-title contact-title-label">Nuevo usuario</h3>
                                <div class="close close-icon">
                                    <i class="material-icons">close</i>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <!-- form start -->
                            <form [formGroup]="createUserForm" (ngSubmit)="saveUser()" class="edit-contact-item mb-5 mt-5">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix"> email </i>
                                        <input id="email" name="email" type="email" formControlName="email" class="validate" value="">
                                        <label for="email">Correo electrónico corporativo</label>
                                        <p *ngIf="createUserForm.get('email').hasError('email')">El email es incorrecto</p>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix"> note </i>
                                        <input id="password" name="password" type="password" formControlName="password" class="validate" value="">
                                        <label for="password">Contraseña</label>
                                        <p *ngIf="createUserForm.get('password').hasError('minlength')">La contraseña debe tener mínimo 6 caracteres</p>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix"> perm_identity </i>
                                        <input id="firstName" name="firstName" formControlName="firstName" type="text" class="validate" value="">
                                        <label for="firstName">Nombres</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix"> perm_identity </i>
                                        <input id="lastName" name="lastName" formControlName="lastName" type="text" class="validate" value="">
                                        <label for="lastName">Apellidos</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <p>Rol</p>
                                        <select class="select2 browser-default" id="role" name="role" formControlName="role">
                                            <option>User</option>
                                            <option>Admin</option>
                                        </select>
                                        <label for="role"></label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix"> note </i>
                                        <input id="idNumber" name="idNumber" formControlName="idNumber" type="number" class="validate" value="">
                                        <label for="idNumber">Documento de identidad</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <p>Fecha de nacimiento</p>
                                        <input id="birthday" name="birthday" formControlName="birthday" type="date" placeholder="Seleccione su fecha de nacimiento">
                                        <label for="birthday"></label>
                                        <p *ngIf="createUserForm.get('birthday').hasError('fechaFuturo')">No puedes seleccionar una fecha en el futuro</p>
                                        <p *ngIf="createUserForm.get('birthday').hasError('menorEdad')">Eres menor de edad</p>
                                    </div>
                                    <div class="input-field col s12">
                                        <p>Género</p>
                                        <select class="select2 browser-default" id="gender" name="gender" formControlName="gender">
                                            <option>Femenino</option>
                                            <option>Masculino</option>
                                            <option>Otro</option>
                                        </select>
                                        <label for="gender"></label>
                                    </div>
                                    <div class="input-field col s12">
                                        <p>Estado civil</p>
                                        <select class="select2 browser-default" id="civilStatus" name="civilStatus" formControlName="civilStatus">
                                            <option>Soltero/a</option>
                                            <option>Casado/a</option>
                                            <option>Unión libre</option>
                                            <option>Divorciado/a</option>
                                            <option>Separado/a</option>
                                            <option>Viudo/a</option>
                                        </select>
                                        <label for="civilStatus"></label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix"> call </i>
                                        <input id="workPhone" name="workPhone" formControlName="workPhone" type="number" class="validate" value="">
                                        <label for="workPhone">Extensión</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix"> call </i>
                                        <input id="cellphone" name="cellphone" formControlName="cellphone" type="number" class="validate" value="">
                                        <label for="cellphone">Celular</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix"> email </i>
                                        <input id="personalEmail" name="personalEmail" formControlName="personalEmail" type="email" class="validate" value="" data-error=".errorTxt9">
                                        <label for="personalEmail">Correo electrónico personal</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix"> business </i>
                                        <input id="homeAddress" name="homeAddress" formControlName="homeAddress" type="text" class="validate" value="" data-error=".errorTxt10">
                                        <label for="homeAddress">Dirección de residencia</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix"> call </i>
                                        <input id="homePhone" name="homePhone" formControlName="homePhone" type="number" class="validate" value="" data-error=".errorTxt11">
                                        <label for="homePhone">Teléfono de residencia</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix"> business </i>
                                        <input id="city" name="city" formControlName="city" type="text" class="validate" value="" data-error=".errorTxt12">
                                        <label for="city">Ciudad o municipio de residencia</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <p>Dependencia</p>
                                        <select class="select2 browser-default" id="department" name="department" formControlName="department">
                                            <option *ngFor="let i of allDepartments" value="{{i._id}}">{{i.department}}</option>
                                        </select>
                                        <label for="department"></label>
                                    </div>
                                    <div class="input-field col s12">
                                        <p>Tipo de vinculación</p>
                                        <select class="select2 browser-default" id="jobType" name="jobType" formControlName="jobType">
                                            <option *ngFor="let i of allJobTypes" value="{{i._id}}">{{i.jobType}}</option>
                                        </select>
                                        <label for="jobType"></label>
                                    </div>
                                    <div class="input-field col s12">
                                        <p>Cargo</p>
                                        <select class="select2 browser-default" id="jobTitle" name="jobTitle" formControlName="jobTitle">
                                            <option *ngFor="let i of allJobTitles" value="{{i._id}}">{{i.jobTitle}}</option>
                                        </select>
                                        <label for="jobTitle"></label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix"> perm_identity </i>
                                        <input id="leader" name="leader" formControlName="leader" type="text" class="validate" value="">
                                        <label for="leader">Jefe o Superior</label>
                                    </div>
                                </div>
                                <div class="card-action pl-0 pr-0 right-align">
                                    <button class="btn-small waves-effect waves-light add-contact">
                                    <span>Crear</span>
                                </button>
                                </div>
                            </form>
                            <!-- form start end-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-overlay"></div>
        </div>
    </div>
</div>